.weui-date-picker-wrapper {
  align-items: center;
  width: 100%;

  .weui-select {
    padding-left: 0;
  }

  &.weui-picker_diabled .weui-select {
    color: var(--weui-FG-1);
  }

  &.weui-picker_placeholder .weui-select {
    color: var(--weui-FG-2);
  }
}
